html, body {
    margin: 0; /* Remove default margins */
    height: 100%; /* Ensure full height */
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    height: 100vh; 
}

.grid-item {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: black; 
    box-sizing: border-box; 
}

.one {
    background-color: white;
    font-size: 20px;
    padding-top: 30%;
}

h1 {
    font-size: 6rem; /* Font size for <h1> */
    margin: 0; /* Remove default margin */
    font-weight: 300;
}

h2 {
    font-size: 1.5rem; /* Font size for <h2> */
    margin: 0; /* Remove default margin */
    font-weight: 300;
}

.two {
    background-color: lightgray;
    grid-row: 2; /* Places this item in the second row */
    padding: 100px;
    padding-top: 0%;
}

.three {
    background-color: darkgray;
    grid-column: 2; /* Spans the second column */
    grid-row: span 2; /* Spans both rows */
    padding-top: 20%;
}

p {
    font-weight: 300;
}













